<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box{
            font-size: 50px;
            height: 200px;
            border: 1px solid red; /*border is like a text box*/

            line-height: 100px; /*centralised: only if height == line-height*/
        }
        .box1{
            border: turquoise 1px solid;
            font: bold italic 50px/100px Times, serif;

            font-weight: bold;
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="box">Hello world</div>
    <div class="box1">How are you feeling? </div>
</body>
</html>