.subHeader{
    width: 80%;
    margin: auto;
    
}

.search{
    width: 60%;
    height: 35px;
    border: 2px orangered solid;
    border-radius: 20px;
    background-color: white;

    margin: auto;
    margin-top: 45px;
    
}

.search_input{
    width: 70%;
    height: 30px;
    border: 1px solid white;
    margin-left: 5%;
}

.search_button{
    float: right;
    width: 10%;
    height: 35px;
    background-color: rgb(255, 102, 0);

    border: 2px solid white; /*和搜索条之间的间隙*/
    border-radius: 20px;
    box-sizing: border-box; /*包含border高度*/

    text-decoration: none;
    color: white;

    text-align: center; /*水平居中*/
    line-height: 31px; /*垂直居中 35px - 2*2px*/ 

}

.leftb{
    float: left;
    color: rgb(131, 128, 128);
    border-radius: 20px 0px 0px 20px;

    text-align: center;
    line-height: 35px;

    margin: auto;
    margin-left: 20px;
}

.search_navi{
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
}

.search_navi a{
    margin-right: 20px; /*各元素间隔20px*/
    font-size: 12px;
    
    text-decoration: none;
    color: rgb(91, 89, 89);
}

.search_navi .search_navi_highlight{
    color: red;
}

.search_navi a:hover{
    color: red;
}

.logo{
    width: 150px;
    height: 110px;
    /*!!因为logo是block element, 不设置absolute,会和搜索栏位置冲突并自动换行！！*/
    position: absolute;
    left: 12%;
    top: 45px;
}

.login{
    float: right;
    width: 91px;
    height: 109px;
    position:absolute;
    left: 80%;
    top: 50px;

}