<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            background-color: aqua; /*no defined width and height-> collapse*/
        }
        .box2{
            width: 100px;
            height: 100px;
            background-color: darkorange;
            margin-top: 50px;
            float: right;
        }
        /*optimised method: artificial supporting class*/
        .clearfix::before,
        .clearfix::after{
            content: '';
            display: table;
            clear: both;

        }
    </style>
</head>
<body>
    <div class="box1 clearfix">
        <div class="box2"></div>

    </div>
</body>
</html>